__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
.env/
.venv/
env/
venv/
*.env
.vscode/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.vite/
frontend/.cache/
*.log
**/.dockerignore
**/Dockerfile
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
.DS_Store
*~
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
*.swp
*.swo
*.bak
coverage/
htmlcov/
Plan.txt